{
    "endOfLine": "lf",
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSpacing": false,
    "tabWidth": 4,
    "printWidth": 80,
    "trailingComma": "all",
    "useTabs": false
}
